# Data Cleaning and Preparation

**Project Group: Whithee**

This notebook explains step by step how we have prepared and cleaned all the data.

From the consolidation of different files to the separation by **different subclasses and study objectives.**

## 1. Loading the data

At this stage, we load the different .csv files, and we will briefly display them.

The objective is to unify them into a single file that you can work with.

In [1]:
import pandas as pd

df1 = pd.read_csv('Datos/CSV2/Hoja de Recogida de Datos 20172018.csv')
df2 = pd.read_csv('Datos/CSV2016/Hoja de Recogida de Datos.csv')
df3 = pd.read_csv('Datos/CSV3/Hoja de Recogida de Datos 20182019.csv')
df4 = pd.read_csv('Datos/CSV4/Hoja de Recogida de Datos 2016.csv')

df1.head()

/var/folders/st/jjkf9ymj499b718tlxyzmp380000gn/T/ipykernel_20101/1273393688.py:6: DtypeWarning: Columns (13,24,27,29,30,31,32,34,35,37,38,39,41,43,44,48,52,53,54,55,58,59,60,61,62,65,72,75,76,77,81,82,83,85,87,89,92,93,98,99,100,101,102,103,105,106,107,108,109,110,111,112,113,114,115,116,120,123,124,125,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,236,237,244,245,246,247,249,251,258,265,266,267,268,270,271,272,273,274,276,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,715,717,720,721,722,723,724,725,726,727,728,729,732,733,750,751,752,753,754,758,760,761,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,803,809,815,821,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,855,856,857,858,859,860,861,862,863,864,865,874,875,876,877,878,879,880,881,882,883,884,885,890,891,896,897,901,902,904,907,908,909,926,928,929,931,933) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('Datos/CSV4/Hoja de Recogida de Datos 2016.csv')

,respondent_id,collector_id,date_created,date_modified,ip_address,email_address,first_name,last_name,custom_1,Operador,...,Unnamed: 927,Unnamed: 928,Unnamed: 929,Unnamed: 930,Unnamed: 931,Unnamed: 932,Unnamed: 933,Unnamed: 934,Unnamed: 935,Unnamed: 936
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Response,...,Amoxicilina 500 mg,Amoxicilina/Ácido Clavulánico 1000/125 mg,Metronidazol 250 mg,Ibuprofeno 400 mg,Ibuprofeno 20 mg/ml,Dexketoprofeno 25 mg,Diclofenaco 50 mg,Paracetamol 500 mg,Paracetamol 100 mg/ml,Otro (especifique)
1,6.962042e+09,166180500.0,11/26/2018 11:42:28 AM,11/26/2018 12:37:25 PM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.962030e+09,166180500.0,11/26/2018 11:36:01 AM,11/26/2018 11:38:40 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.962029e+09,166180500.0,11/26/2018 11:31:09 AM,11/26/2018 11:35:34 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Metilprednisolona 16 mg V.O: 2 días 1/8h, 2 dí..."
4,6.962029e+09,166180500.0,11/26/2018 11:27:49 AM,11/26/2018 11:31:03 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

well, like we see all the data are like same dimensions, we can to follow :)

## 2. Join

At this point, we going to Join all of the dataFrame only in one.

That moment are complety importat, we need to join the data as correct way to follow with the study.

For this, we will going to use the concat function, we only have 1 argument, **'axis=0 or axis=1'**, we use **1** for join the data as rows, **0** are for join data for columns.

In [2]:
# Function concat (columns --> axis = 0)
df = pd.concat([df1,df2,df3,df4], axis=0)
df.head()

,respondent_id,collector_id,date_created,date_modified,ip_address,email_address,first_name,last_name,custom_1,Operador,...,Unnamed: 927,Unnamed: 928,Unnamed: 929,Unnamed: 930,Unnamed: 931,Unnamed: 932,Unnamed: 933,Unnamed: 934,Unnamed: 935,Unnamed: 936
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Response,...,Amoxicilina 500 mg,Amoxicilina/Ácido Clavulánico 1000/125 mg,Metronidazol 250 mg,Ibuprofeno 400 mg,Ibuprofeno 20 mg/ml,Dexketoprofeno 25 mg,Diclofenaco 50 mg,Paracetamol 500 mg,Paracetamol 100 mg/ml,Otro (especifique)
1,6.962042e+09,166180500.0,11/26/2018 11:42:28 AM,11/26/2018 12:37:25 PM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.962030e+09,166180500.0,11/26/2018 11:36:01 AM,11/26/2018 11:38:40 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.962029e+09,166180500.0,11/26/2018 11:31:09 AM,11/26/2018 11:35:34 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Metilprednisolona 16 mg V.O: 2 días 1/8h, 2 dí..."
4,6.962029e+09,166180500.0,11/26/2018 11:27:49 AM,11/26/2018 11:31:03 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Wow, we did it, so now, we go for the next step.

## 3. Arreglar el nombre

At this point, we will go to use only the first row at data for variables names.

We will only change de name of colums that estar for **Unnamed:...**

In [3]:
for col in df.columns:
    if col.startswith('Unnamed:'):
        df.rename(columns={col: df.iloc[0][col]}, inplace=True)
df = df.iloc[1:, :]

In [4]:
df.head()

,respondent_id,collector_id,date_created,date_modified,ip_address,email_address,first_name,last_name,custom_1,Operador,...,Amoxicilina 500 mg,Amoxicilina/Ácido Clavulánico 1000/125 mg,Metronidazol 250 mg,Ibuprofeno 400 mg,Ibuprofeno 20 mg/ml,Dexketoprofeno 25 mg,Diclofenaco 50 mg,Paracetamol 500 mg,Paracetamol 100 mg/ml,Otro (especifique)
1,6.962042e+09,166180500.0,11/26/2018 11:42:28 AM,11/26/2018 12:37:25 PM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.962030e+09,166180500.0,11/26/2018 11:36:01 AM,11/26/2018 11:38:40 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.962029e+09,166180500.0,11/26/2018 11:31:09 AM,11/26/2018 11:35:34 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Metilprednisolona 16 mg V.O: 2 días 1/8h, 2 dí..."
4,6.962029e+09,166180500.0,11/26/2018 11:27:49 AM,11/26/2018 11:31:03 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.962028e+09,166180500.0,11/26/2018 11:25:58 AM,11/26/2018 11:27:44 AM,83.50.30.214,NaN,NaN,NaN,NaN,Ana Juiz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

So, we change all the names, now the data are ready for **cleanig**.

## 4. Separation by fild of study

Finally we will to separate the big dataFrame in to diferent fild of study:

- Systemic pathology
- Pre-operation medication
- Post-operation medication
- Surgical tools

lets do it

In [55]:
# Systemic pathology
Systemic_Pathology = df.iloc[:, 0:67]
Systemic_Pathology.to_csv('Systemic_Pathology.csv', index=False)

# Pre-operation medication (Tipo de intervencion)
Pre_operation_medication = df.iloc[:, 67:119]
Pre_operation_medication.to_csv('Pre_operation_medication.csv', index=False)

# Surgical tools (Tipo de intervencion)
Surgical_tools = df.iloc[:, 119:914]
Surgical_tools.to_csv('Surgical_tools.csv', index=False)

# Post-operation medication
Post_operation_medication = df.iloc[:, 914:950]
Post_operation_medication.to_csv('Post_operation_medication.csv', index=False)

In [56]:
df.to_csv('General_data.csv', index=False)